
.cabeca{
    width: 100%;
    height: 150px;
    background-color: #C08552;
    padding-top: 20px;
}
.MP{
    font-family: "Manrope", sans-serif;
    margin-left: 520px;
}
.nav-link{
    text-decoration-color: black;
}
.caixa{
    display: block;
    height: 370px;
    width: 260px;
    background-color: aqua;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: 20px;
    float: left;
}
.img1{
    width: 260px;
   
}
.caixa1{
    display: block;
    height: 370px;
    width: 260px;
    background-color: aqua;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    float: left;
}
.img2{
   
}

.caixa2{
    display: block;
    height: 370px;
    width: 260px;
    background-color: aqua;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    float: left;
}
.caixa3{
    display: block;
    height: 370px;
    width: 260px;
    background-color: aqua;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    float: left;
}